<!DOCTYPE html>
<html>

  <!-- Head of the page -->
  <%- include('partials/head.ejs') %>

  <body>
    <div class="headstyle">
      <br>
      <!-- Header -->
      <%- include('partials/header.ejs') %>
      <!-- Navigation Bar -->
      <%- include('partials/navigationbar.ejs') %>
    </div>

    <h1 class="webname"><%= title %></h1>

    <div class="columns">
      <div class="column">
        <img src="images/Bruna.jpg" alt="About Me">
      </div>
      <div class="column">
        <h3><%= name %></h3>
        <h3><%= description %></h3>
        <iframe src="files/Atividade.pdf" width="100%" height="500px">
      </div>
    
    <div class="columns:after">
    <!-- Footer of the page -->
    <%- include('partials/footer.ejs') %>
  </div>
  
  </body>

</html>

