<!DOCTYPE html>
<html>

  <!-- Head of the page -->
  <%- include('partials/head.ejs') %>

  <body>

    <!-- Header -->
    <%- include('partials/header.ejs') %>

    <h1><%= title %></h1>
    <p><%= description %></p>

    <!-- Navigation Bar -->
    <%- include('partials/navigationbar.ejs') %>




    <!-- Footer of the page -->
    <%- include('partials/footer.ejs') %>
  </body>

</html>

